/*----------------- 
       RESET
-----------------*/
*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
/* Allow percentage-based heights in the application */
html,
body,
#root {
  height: 100%;
}
/* Typographic tweaks! Add accessible line-height Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------- 
       THEME
-----------------*/
:root {
  --color-brand-orange: hsl(12, 88%, 59%);
  --color-dark-blue: hsl(228, 39%, 23%);
  --color-black: hsl(233, 12%, 13%);
  --color-very-light-pink: hsl(13, 100%, 96%);
  --color-grey: hsl(0, 0%, 98%);

  --shade-brand-orange: hsl(12, 88%, 79%);
  --shade-brand-orange-200: hsl(12, 88%, 90%);
  --shade-dark-blue-300: hsl(228, 39%, 80%);

  --measure: 60rem;

  --spacer: 1rem; /* This is mainly for space between groups on the page such as header and hero */
}

/*----------------- 
      GLOBAL
-----------------*/
body {
  color: var(--shade-dark-blue-300);
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  overflow-x: hidden;
  padding-inline: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark-blue);
  font-weight: 700;
}

p {
  font-weight: inherit;
  line-height: 28px;
}

@media (min-width: 768px) {
  p {
    line-height: 26px;
  }
}

/*----------------- 
      HEADER
-----------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 2.8125rem;
  position: relative;
}

/*----------------- 
       SVG 
-----------------*/

.header-svg {
  position: absolute;
  top: -151px;
  right: -203px;
  width: 500px;
  height: auto;
  z-index: -1;
}

@media (min-width: 1024px) {
  .header-svg {
    top: -287px;
    right: -407px;
    width: 800px;
  }
}

/*----------------- 
      NAVBAR 
-----------------*/
.primary-navigation ul {
  position: absolute;
  top: 88%;
  right: 20px;
  left: 20px;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;

  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 9px 0px #000000;
  list-style: none;
  max-width: 400px;
  padding-block: 40px;
}

.primary-navigation li {
  color: var(--color-dark-blue);
  font-weight: 700;
  transition: all 0.3s ease;
}

.primary-navigation li:hover {
  color: var(--shade-dark-blue-300);
}

.primary-navigation a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  .primary-navigation ul {
    flex-direction: row;
    gap: 32px;

    position: static;
    margin: auto;

    box-shadow: none;
    border-radius: 0px;
    max-width: none;
    padding-block: 0px;
  }

  .primary-navigation li {
    font-size: 13px;
    font-weight: 500;
  }
}

/*----------------- 
      MENU 
-----------------*/
.menu-btn {
  background-color: transparent;
  border: none;
}

.menu-btn[aria-expanded='false'] + #menu-list {
  display: none;
}

.menu-btn[aria-expanded='true'] + #menu-list {
  display: flex;
}

.header-btn {
  /* hidden on mobile */
  display: none;
}

@media (min-width: 768px) {
  .menu-btn[aria-expanded] {
    display: none;
  }

  .menu-btn[aria-expanded='false'] + #menu-list,
  .menu-btn[aria-expanded='true'] + #menu-list {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .header-btn {
    display: block;
  }
}

/*----------------- 
      HERO 
-----------------*/

/* hero layout */
@media (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-image {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .hero-text_content {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.hero-image {
  display: flex;
  justify-content: center;
}

.hero-text_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-header {
  font-size: 2.5rem;
  line-height: 50px;
  text-align: center;
}

.hero-text {
  margin-block-start: 9px;
  margin-block-end: 29px;
  text-align: center;
}

@media (min-width: 768px) {
  .hero-text {
    max-width: 58ch;
  }
}

@media (min-width: 1024px) {
  .hero-image {
    justify-self: start;
  }

  .hero-text_content {
    align-items: flex-start;
  }

  .hero-header {
    max-width: 15ch;
    line-height: 64px;
    text-align: start;
  }

  .hero-text {
    max-width: 28ch;
    text-align: start;
  }
}

/*----------------- 
       INFO 
-----------------*/

/* INFO */
.info {
  --spacer: 129px;

  margin-block-start: var(--spacer);
  margin-block-end: calc(var(--spacer) - 62px);
  margin-inline: auto;
  max-inline-size: var(--measure);
}

@media (min-width: 768px) {
  /* info layout */
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
  }

  .info__hook {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .info__list {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

/* INFO__HOOK */
.info__hook {
  margin-block-end: 54px;
}

.info__hook-title {
  font-size: 1.875rem;
  font-weight: 800;
  margin-block-end: 13px;
  text-align: center;
}

.info__hook-description {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 768px) {
  .info__hook {
    margin-block-end: 0;
  }

  .info__hook-title {
    font-size: 2rem;
    font-weight: 700;
    margin-block-end: 24px;
    text-align: start;
  }

  .info__hook-description {
    font-size: 1rem;
    max-width: 34ch;
    text-align: start;
  }
}

/* INFO__LIST */

.info__list-items {
  display: flex;
  flex-direction: column;
  gap: 47px;

  list-style-type: none;
}

.info__list-item {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 0.5fr 10fr;
  align-items: center;
}

.info__list-item-number {
  grid-row: 1/2;
  grid-column: 1/2;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-brand-orange);
  border-radius: 999999px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.7rem 1.7rem;
}

.info__list-item-title {
  grid-row: 1/2;
  grid-column: 2/3;

  background-color: var(--shade-brand-orange-200);
  box-shadow: -20px 0 0 0 var(--shade-brand-orange-200);
  font-size: 1rem;
  font-weight: 700;
  padding-inline-start: 15px;
  position: relative;
  z-index: -1;
}

.info__list-item-description {
  grid-row: 2/3;
  grid-column: 1/3;

  font-size: 0.875rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .info__list-items {
    gap: 40px;
  }

  .info__list-item-title {
    background-color: transparent;
    box-shadow: none;
    line-height: 45px;
    padding-inline-start: 28px;
  }

  .info__list-item-description {
    font-size: 1rem;
  }
}

/*----------------- 
     UTILITIES
-----------------*/

.btn {
  cursor: pointer;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.hidden {
  display: none;
}

/*----------------- 
    COMPONENTS
-----------------*/

/*----------------- 
      BUTTON
-----------------*/
.btn--cta {
  background-color: var(--color-brand-orange);
  color: var(--color-very-light-pink);
  padding: 1rem 2rem;
  border: none;
  border-radius: 99999px;
  box-shadow: 0px 2px 4px 0px var(--color-brand-orange);
  font-size: 0.8125rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.btn--cta:hover {
  background-color: var(--shade-brand-orange);
}

/*----------------- 
     CAROUSEL
-----------------*/
.carousel-section {
  --spacer: 48px;

  margin-block-end: var(--spacer);
}

.carousel-section h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 62px;
  text-align: center;
}

/* carousel */
.carousel {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  margin-inline: auto;

  max-inline-size: var(--measure);
}

/* carousel controls */

/* carousel slides */
.carousel__slide {
  display: none;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-grey);
  max-width: 340px;

  padding-inline: 21px;
  padding-block-end: 42px;
}

.carousel__slide--active {
  display: flex;
}

.carousel__slide-image {
  transform: translateY(-50%);
}

.carousel__slide-title {
  margin-block-end: 19px;
}

.carousel__slide-description {
  text-align: center;
}

@media (min-width: 768px) {
  .carousel__slide {
    max-width: 540px;
    padding-inline: 40px;
  }

  .carousel__slide-description {
    max-width: 42ch;
  }
}
